#textdomain wesnoth-Greenwoods_Tears

[scenario]
    id=01_A_Maiden_in_Memories
    name= _ "A Maiden in Memories"
    map_file=01_A_Maiden_in_Memories.map
    {TURNS 15 14 13}
    next_scenario=02_High_Pass

    random_start_time=no
    allow_new_game=yes
    new_game_title= _ "Chapter One: Dawn of Turmoil"
    force_lock_settings=yes

    victory_when_enemies_defeated=no

    {NORTHERN_SCHEDULE}

    {INTRO_AND_SCENARIO_MUSIC revelation.ogg knolls.ogg}
    {EXTRA_SCENARIO_MUSIC loyalists.ogg}
    {EXTRA_SCENARIO_MUSIC traveling_minstrels.ogg}

    {GWT_DEATHS}

    [story]
        [part]
            title= _ "<i>Greenwood’s Tears</i>
Chapter One"
        [/part]
        [part]
            title= _ "Chapter One
<i>Dawn of Turmoil</i>"
        [/part]
        [part]
            story= _ "From the chronicle left by Arwen, an unknown spring eight hundred and seventy years since the founding of Wesnoth."
        [/part]
        [part]
            story= _ "“It was nigh on twenty years ago when I, Arwen the Wanderer, commenced my journey from Mother Greenwood. As the heir to one of the Northern Lords, I was nurtured in a fashion many would covet. However, Irdya held no truly blessed path for my life."
            {GWT_BIGMAP}
        [/part]
        [part]
            # po: He is referring to the war around 852 YW, the time of SotBE.
            story= _ "Not long after I came of age, my mother was found departed near the manor. The circumstances were perplexing to all, and people mostly whispered of murder by poison or some curse. But in the end, the truth was never revealed. At that time, in the Far North, the remnants of the Silent Forest were launching a large invasion against the orcs, and the attention of the elvish kin shifted there rather than to my mother’s loss."
            {GWT_BIGMAP}
        [/part]
        [part]
            story= _ "After her burial, my father and I each bore our own shadows. I mourned her passing, while my father seemed beset by an even deeper solitude. One drizzly day, he walked away from his mansion, leaving me alone, and never returned."
            {GWT_BIGMAP}
        [/part]
        [part]
            story= _ "What proved disastrous for me was how those around me urged me to swiftly succeed his seat. Those lesser lords and officials afforded me no time to muse upon my father’s whereabouts. Even my uncle in Lintanir sided his lot with them, and stood not by me. Having long grown weary of the suffocating strictures of elvish society, I hardened my heart to forsake my homeland and myself as the heir."
            {GWT_BIGMAP}
        [/part]
        [part]
            story= _ "My earliest days wandering the desolate Northlands led me unto the path of pillage and a life of thievery. The first I befriended beyond my former people was a goblin named Grunk. Like me, he was a loner who kept straying, and it took but little time for us to warm after a skirmish. He and I formed a band with sundry outcasts from diverse walks, and in time, we became somewhat infamous as trouble-stirrers among the dwellers of the Far North."
            {GWT_BIGMAP}
        [/part]
        [part]
            story= _ "Then, upon the day of a standoff with another band of bandits, time moved ponderously through my life again. Yea, that day..."
            {GWT_BIGMAP}
            show_title=yes
        [/part]
    [/story]

    {GWT_TRACK {JOURNEY_01_NEW} }

    # wmllint: validate-off
    [side]
        side=1
        {PLAYABLE}

#ifdef MULTIPLAYER
        {GOLD 80 70 60}
        income=2
#else
        {GOLD 140 120 100}
        income=4
#endif

        # wmllint: recognize Arwen
        {CHARACTER_STATS_ARWEN}
    [/side]
    # wmllint: validate-on

    # wmllint: skip-side
    {MP_SIDE 2 (
        {PLAYABLE}

        {GOLD 80 70 60}
        income=2

        # wmllint: recognize Grunk
        {CHARACTER_STATS_GRUNK}
        experience=10
    )}

    [side]
        side=3
        {UNPLAYABLE}
        team_name=bandits
        user_team_name= _ "team_name^Bandits"
        {FLAG_VARIANT6 ragged}

        {GOLD 30 50 70}
        {INCOME -3 0 3}
        recruit=Vampire Bat,Thug,Ruffian

        [ai]
            passive_leader=yes
            leader_value=0
            village_value=0.5
            recruitment_pattern=scout,fighter

            [goal]
                name=protect_unit
                [criteria]
                    type=Caravan
                [/criteria]
                value=25
                protect_radius=8
            [/goal]
        [/ai]

        type=Bandit
        id=Urlath-Tar
        name= _ "Urlath-Tar"
        canrecruit=yes
        facing=sw

        [modifications]
            {TRAIT_AGED}
        [/modifications]

        {GENERIC_UNIT 3 (Footpad) 26 3} {FACING sw}
        [+unit]
            upkeep=loyal
        [/unit]

#ifdef EASY
        {GENERIC_UNIT 3 (Ruffian) 27 8} {FACING sw}
        {GENERIC_UNIT 3 (Ruffian) 28 7} {FACING sw}
#else
        {GENERIC_UNIT 3 (Thug) 27 8} {FACING sw}
        {GENERIC_UNIT 3 (Thug) 28 7} {FACING sw}
#endif

        {GENERIC_UNIT 3 ({ON_DIFFICULTY (Ruffian) (Footpad) (Outlaw)}) 23 8} {FACING sw}
        [+unit]
            upkeep=loyal
        [/unit]

        {GENERIC_UNIT 3 (Ruffian) 25 4} {FACING sw}
        {GENERIC_UNIT 3 (Ruffian) 24 5} {FACING sw}

        # Caravans heading for the north
        {LOYAL_UNIT 3 (Caravan) 28 4} {FACING sw}
        {LOYAL_UNIT 3 (Caravan) 28 5} {FACING sw}
        {LOYAL_UNIT 3 (Caravan) 29 5} {FACING sw}
    [/side]
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 (Vampire Bat) 1}
    {LIMIT_CONTEMPORANEOUS_RECRUITS 3 (Ruffian) 6}

    {STARTING_VILLAGES 1 4}
#ifdef MULTIPLAYER
    {STARTING_VILLAGES 2 3}
#endif
    {STARTING_VILLAGES 3 2}

    {SET_LABEL 28 16 ( _ "River Bork")}

    {AMBIENT_CAMPFIRE 10 15}

    [event]
        name=prestart

#ifndef MULTIPLAYER
        [unit]
            side=1
            {CHARACTER_STATS_GRUNK}
            experience=10
            x,y=7,16
        [/unit]
#endif
        [unit]
            side=3
            # wmllint: recognize Ellrea
            {CHARACTER_STATS_ELLREA}
            hitpoints=8
            x,y=28,6
            facing=sw
        [/unit]

        [hide_unit]
            id=Ellrea
        [/hide_unit]

        {RANDOM Footpad,Poacher,Thief}

        [unit]
            side=1
            type=$random
            random_gender=yes
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            x,y=5,17
        [/unit]
#ifdef MULTIPLAYER
        [unit]
            side=2
            type=$random
            random_gender=yes
            [modifications]
                {TRAIT_LOYAL}
                {TRAIT_RESILIENT}
            [/modifications]
            x,y=8,15
        [/unit]
#endif
        {CLEAR_VARIABLE random}

        {MODIFY_UNIT (side=1,2) facing ne}

        [micro_ai]
            side=3
            ai_type=goto
            action=add
            [filter]
                type=Caravan
            [/filter]
            [filter_location]
                x,y=15-16,2
            [/filter_location]
        [/micro_ai]

        {PLACE_IMAGE "units/human-outlaws/highwayman.png~O(0.5)~FL(horizontal)~RC(magenta>blue)" 15 1}
        {PLACE_IMAGE "units/human-outlaws/highwayman.png~O(0.5)~FL(horizontal)~RC(magenta>blue)" 16 1}

        {PLACE_IMAGE items/bones.png 19 8}
        {PLACE_IMAGE items/bones.png 24 8}

        # Signpost indicating geography
        {PLACE_IMAGE scenery/signpost.png 11 8}

        [objectives]
            [objective]
                description= _ "Capture all caravans"
                condition=win
            [/objective]
            [objective]
                {BONUS_OBJECTIVE_CAPTION}
                description= _ "Kill Urlath-Tar"
                condition=win
                [show_if]
                    [have_unit]
                        id=Urlath-Tar
                    [/have_unit]
                [/show_if]
            [/objective]
            [objective]
                description= _ "Death of Arwen or Grunk"
                condition=lose
            [/objective]
            [objective]
                description= _ "A caravan reaches their gathering place"
                condition=lose
            [/objective]

            {TURNS_RUN_OUT}

            [note]
                description= _ "You can capture a caravan by halving the hitpoints."
            [/note]
            [note]
                description= _ "Defeating Urlath-Tar is merely optional; be careful not to get too caught up in it."
                [show_if]
                    [have_unit]
                        id=Urlath-Tar
                    [/have_unit]
                [/show_if]
            [/note]

            [gold_carryover]
                bonus=yes
                carryover_percentage=40
            [/gold_carryover]
        [/objectives]
    [/event]

    [event]
        name=start
        [message]
            speaker=Arwen
            message= _ "Grunk, look! A rare sight to witness. There’s a band of dotard bandits roaming north of our camp."
        [/message]
        [message]
            speaker=Grunk
            message= _ "I too realized them a little earlier. Didn’t they call themselves the ‘Black Lizards’ or suchlike, as I recall? Such a green and childish name seems pitiful now that age has overtaken them."
        [/message]
        [message]
            speaker=Urlath-Tar
            message= _ "Shut up, insolent knaves! Don’t you dare trouble us with your wretched voices. Or do you long to meet your maker?"
        [/message]
        [message]
            speaker=Arwen
            message= _ "Hah, no way in hell. But you had been raiding with much show, it seems? Where did you pluck those caravans, or are they your companions?"
        [/message]
        [message]
            speaker=Urlath-Tar
            message= _ "I have no reason to waste words on you. Why don’t you take your carrion-scented wolves and get out of this valley? Once I meet up with my fellows in the foothills, crushing you will be like a child’s pastime."
        [/message]

        {PLACE_IMAGE items/gohere.png 15 2}
        {PLACE_IMAGE items/gohere.png 16 2}

        {SCROLL_TO 15 2}
        {DELAY 1000}

        [message]
            speaker=Grunk
            message= _ "They have affronted our wolves! Hey Arwen, how about we steam-coil them for dinner this evening?"
        [/message]
        [message]
            speaker=Arwen
            # po: Arwen and his band have already caused a few troubles in this valley, so they must leave before long.
            message= _ "I have no stomach for devouring such withered men... However, they may prove the fitting prey to conclude our business in here. The supplies and gold their caravans bear will serve us well."
        [/message]

        [unhide_unit][/unhide_unit]

        {DELAY 250}

        [message]
            speaker=Ellrea
            message= _ "... Ummmm..."
        [/message]
        [message]
            speaker=Urlath-Tar
            # po: The merchant he mentioned is a foreshadowing for the latter part.
            message= _ "What? Don’t just come out on your own accord! We are not yet prepared to barter you to the merchant."
        [/message]
        [message]
            speaker=Ellrea
            message= _ "No, let me go!"
        [/message]
        [message]
            speaker=Urlath-Tar
            message= _ "Shut your tongue! Hey, bind this foolish wench fast once more!"
        [/message]

        [animate_unit]
            [filter]
                x,y=28,7
            [/filter]
            flag=attack
            hits=yes
            [primary_attack]
                range=melee
            [/primary_attack]
            [facing]
                [filter]
                    id=Ellrea
                [/filter]
            [/facing]
        [/animate_unit]

        [kill]
            id=Ellrea
            fire_event=no
        [/kill]

        [redraw][/redraw]

        {DELAY 250}
    [/event]

    [event]
        name=recruit
        [filter]
            type=Saurian Augur
        [/filter]
        [message]
            speaker=unit
            message= _ "Swamp friend, what matter have you to summon us?"
        [/message]
        [message]
            speaker=Arwen
            message= _ "Look north before you ask. There are bandits who recklessly dared to pick a feud with us."
        [/message]
        [message]
            speaker=unit
            # wmllint: local spelling Yesss
            message= _ "Yesss, so you’re going to pillage them? Chief Arwen, we shall help your attack from behind. But as always, we’ll get our portion of the spoils, right?"
        [/message]
        [message]
            speaker=Arwen
            message= _ "Of course, if you perform your part well."
        [/message]
    [/event]

    [event]
        name=attack
        [filter]
            id=Grunk
        [/filter]
        [message]
            speaker=unit
            message= _ "Wolves, feeding time is here!"
        [/message]
        [message]
            speaker=narrator
            message= _ "Grunk has limited leveling up, but in exchange, he can become powerful constantly through his special AMLAs. Plan how you allocate experience to your units carefully!"
            image=wesnoth-icon.png
        [/message]
    [/event]

    [event]
        name=post advance
        [filter]
            id=Grunk
        [/filter]

        {ACHIEVE s01}
    [/event]

    [event]
        name=moveto
        [filter]
            side=1,2
            x,y=11,8
        [/filter]

        [allow_undo][/allow_undo]

        [message]
            speaker=narrator
            message= _ "To the Mountains of Dorth"
            image=scenery/signpost.png
        [/message]

        {ACHIEVE_PROGRESS wanderer 1 1}
        [floating_text]
            x,y=$x1,$y1
            text= _ "+1 signpost"
        [/floating_text]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Urlath-Tar
        [/filter]
        [message]
            speaker=unit
            message= _ "Blast it! You... rotten knaves..."
        [/message]
    [/event]
    [event]
        name=die
        [filter]
            id=Urlath-Tar
        [/filter]
        [message]
            speaker=second_unit
            message= _ "These ‘Black Lizards’ do not have nearly so much gold as we hoped."
        [/message]
        [message]
            speaker=Arwen
            message= _ "Well, I think anything we may gain is worth a welcome."
        [/message]

        [scroll_to_unit]
            x,y=$x2,$y2
        [/scroll_to_unit]

#ifdef MULTIPLAYER
        {LOOT ({ON_DIFFICULTY 45 45 35}) 1}
        {LOOT ({ON_DIFFICULTY 45 45 35}) 2}
#else
        {LOOT ({ON_DIFFICULTY 90 90 70}) 1}
#endif

        [kill]
            id=$unit.id
            fire_event=no
        [/kill]

        [show_objectives][/show_objectives]
    [/event]

    [event]
        name=attacker hits
        first_time_only=no

        [filter_second]
            type=Caravan
            formula="self.hitpoints <= self.max_hitpoints * 0.5"
        [/filter_second]

        [message]
            speaker=unit
            message= _ "I captured a caravan and seized the supplies!"
        [/message]

        [kill]
            id=$second_unit.id
            fire_event=no
        [/kill]

        {VARIABLE_OP unit.experience add 4}
        [unstore_unit]
            variable=unit
        [/unstore_unit]

        [if]
            [have_unit]
                type=Caravan
            [/have_unit]
            [else]
                [endlevel]
                    result=victory
#ifdef MULTIPLAYER
                    bonus=0.5
#else
                    bonus=yes
#endif
                    {NEW_GOLD_CARRYOVER 40}
                [/endlevel]
            [/else]
        [/if]
    [/event]

    [event]
        name=victory

        [message]
            speaker=Urlath-Tar
            message= _ "Damn it, retreat! Remember! You’ll pay for this!"
        [/message]

        [remove_item][/remove_item]

        [kill]
            side=3
            fire_event=no
        [/kill]

        [message]
            speaker=Arwen
            message= _ "After all, they were not much trouble for us."
        [/message]

        [unit]
            side=3
            {CHARACTER_STATS_ELLREA}
            hitpoints=8
            x,y=28,6
            facing=sw
        [/unit]

        [message]
            speaker=Ellrea
            message= _ "They... have already gone?"
        [/message]
        [message]
            speaker=Grunk
            message= _ "What are you? One of those bandits?"
        [/message]

        {MOVE_UNIT (id=Grunk) 27 6}

        [message]
            speaker=Ellrea
            message= _ "Ahhh! A wolf comes to bite me!"
        [/message]

        [kill]
            id=Ellrea
            fire_event=no
        [/kill]

        [redraw][/redraw]

        [sound]
            name=mace-miss.ogg
        [/sound]

        {DELAY 250}

        [message]
            speaker=Grunk
            message= _ "I haven’t done anything to you in particular— Oh my. She has swooned."
        [/message]
        [message]
            speaker=Arwen
            message= _ "Hold, is she an elf?"
        [/message]
        [message]
            speaker=Grunk
            # po: Says sarcastically. The "wife" here carries the "mai waifu" nuance.
            message= _ "I suppose so, and is something bothering you? Don’t say you suddenly desired an elvish wife now."
        [/message]
        [message]
            speaker=Arwen
            message= _ "Nay, I have felt no attachment to my kin for many years... but she seems somehow familiar to me. As though she lingers in some corner of my heart."
        [/message]
    [/event]

    # Warnings for beginner players
    [event]
        name=moveto
        [filter]
            type=Caravan
            [filter_location]
                x,y=15-16,2
                radius=3
            [/filter_location]
        [/filter]
        [message]
            speaker=Arwen
            message= _ "Don’t let them go any further north! We must pillage them before they gather."
            scroll=no
        [/message]
    [/event]
    [event]
        name=turn 9
        [message]
            speaker=Grunk
            message= _ "Arwen, beware! Our scout reports that bandit reinforcements are closing in. Hurry and seize these caravans!"
        [/message]
    [/event]

    [event]
        name=moveto
        [filter]
            type=Caravan
            x,y=15-16,2
        [/filter]

        [remove_item][/remove_item]

        {GENERIC_UNIT 3 (Highwayman) 15 1} {FACING sw}
        {GENERIC_UNIT 3 (Highwayman) 16 1} {FACING sw}

        [message]
            type=Highwayman
            message= _ "These outcasts are foolishly biting at us! SLAY THEM!!"
        [/message]
        [message]
            speaker=Arwen
            message= _ "Argh, what a blunder! I never expected so many reinforcements..."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]

    [event]
        name=time over
        [message]
            speaker=Arwen
            message= _ "Wait, are those reinforcements for the bandits I see to the north? This bodes... not well..."
        [/message]
        [message]
            speaker=Urlath-Tar
            message= _ "Ha ha, you all lose!"
        [/message]
    [/event]
[/scenario]
