#textdomain wesnoth-Greenwoods_Tears

[scenario]
    id=04x_The_Turmoil
    name= _ "The Turmoil"
    map_file=04x_The_Turmoil.map
    turns=-1
    next_scenario=null

    allow_new_game=no

    theme=Cutscene_Minimal

    {NORTHERN_SCHEDULE}

    {CONTINUOUS_SCENARIO_MUSIC elvish-theme.ogg underground.ogg}

    {GWT_TRACK {JOURNEY_04X_NEW} }

    # wmllint: validate-off
    [side]
        side=1
        {PLAYABLE}

        gold=0

        # wmllint: recognize Arwen
        {CHARACTER_STATS_ARWEN}
    [/side]
    # wmllint: validate-on

    # wmllint: skip-side
    {MP_SIDE 2 (
        {PLAYABLE}

        gold=0

        # wmllint: recognize Grunk
        {CHARACTER_STATS_GRUNK}
    )}

    # wmllint: validate-off
    [side]
        side=3
        {UNPLAYABLE}
        team_name=player
        user_team_name= _ "team_name^Elves"
        {FLAG_VARIANT wood-elvish}

        # wmllint: recognize Roldur
        {CHARACTER_STATS_ROLDUR}
        facing=sw

        [unit]
            # wmllint: recognize Dowel
            {CHARACTER_STATS_DOWEL}
            x,y=10,7
            facing=sw
        [/unit]
        [unit]
            # wmllint: recognize Helenē
            {CHARACTER_STATS_HELENE}
            x,y=12,8
            facing=sw
        [/unit]
    [/side]
    # wmllint: validate-on

    {STARTING_VILLAGES_ALL 3}

    [event]
        name=prestart

#ifndef MULTIPLAYER
        {RECALL_GRUNK 8 11}
#endif

        # wmllint: recognize Ellrea
        {RECALL_ELLREA 8 10}

        {MODIFY_UNIT (side=1,2) facing ne}

        # Mystical illuminations
        [item]
            terrain=Wwt
            halo=halo/elven/nature-halo[1~8].png~O(0.2):250
        [/item]
    [/event]

    [event]
        name=start

        # TODO: Cutscene dialogue

        [message]
            speaker=narrator
            caption= _ "Greenwood’s Tears"
            message= _ "You have reached the last, as-yet-unwritten scenario of Chapter One. The rest of the story will be available in the near future. To resume playing, please update to a version containing new scenarios and then reload this save.

Thanks for playing. See you again!"
            image="units/goblins/wolf-rider.png~RC(magenta>red)~BLIT(units/elves-wood/marshal.png~RC(magenta>green),-14,2)"
        [/message]

        [endlevel]
            result=victory
            bonus=no
            {NEW_GOLD_CARRYOVER 100}
            carryover_report=no
            linger_mode=no
            replay_save=no
        [/endlevel]
    [/event]
[/scenario]
