#textdomain wesnoth-Greenwoods_Tears
[textdomain]
    name="wesnoth-Greenwoods_Tears"
[/textdomain]

# wmlscope: set export=no
[campaign]
    id=Greenwoods_Tears
    abbrev= _ "GwT"
    name= _ "Greenwood’s Tears"
    year="870 YW"

    end_text= _ "To be continued..."

    type=hybrid
    allow_era_choice=no
    min_players=2
    max_players=2

    icon="units/goblins/wolf-rider.png~RC(magenta>red)~BLIT(units/elves-wood/marshal.png~RC(magenta>green),-14,2)"
    background="story/landscape-castle.webp"
    image="data/add-ons/Greenwoods_Tears/images/portraits/arwen.webp~SCALE(350,350)"

    description= _ "In his wanderings through the Far North, an elvish rogue, Arwen, encounters a girl from his former people. He makes an unforeseen return to Greenwood, but around the same, turmoil threatens to shatter the quiet of the High Elves."+"

"+ _ "(Novice level, 3 scenarios of 8 completed.)"

    define=CAMPAIGN_GREENWOODS_TEARS

    {CAMPAIGN_DIFFICULTY EASY   "units/goblins/wolf-rider.png~RC(magenta>red)"        ( _ "Rogue")    ( _ "Easy")}
    {CAMPAIGN_DIFFICULTY NORMAL "units/goblins/pillager-defend-2.png~RC(magenta>red)" ( _ "Pillager") ( _ "Normal")} {DEFAULT_DIFFICULTY}
    {CAMPAIGN_DIFFICULTY HARD   "units/goblins/pillager-moving.png~RC(magenta>red)"   ( _ "Chief")    ( _ "Hard")}

    first_scenario=01_A_Maiden_in_Memories

    [about]
        title= _ "Campaign Design"
        [entry]
            name="Hiroki Hatanaka (KameRamen)"
        [/entry]
    [/about]
[/campaign]

#ifdef CAMPAIGN_GREENWOODS_TEARS
[binary_path]
    path=data/add-ons/Greenwoods_Tears
[/binary_path]

{~add-ons/Greenwoods_Tears/utils}
{~add-ons/Greenwoods_Tears/scenarios}

[+units]
    {~add-ons/Greenwoods_Tears/units}
[/units]
#endif

# wmllint: directory spellings Arwen Grunk Mal Keshar Simone
# wmllint: directory spellings Eduol G'lem Kapou'e
# wmllint: directory spellings Jézabel Mel Owain

# wmllint: directory spellings playthrough gehenna AMLAs nightstalk backstab
