#textdomain wesnoth-Greenwoods_Tears

# wmllint: markcheck off

[achievement_group]
    display_name= _ "Greenwood’s Tears"
    content_for=greenwoods_tears
    [achievement]
        id=gwt_wanderer
        name= _ "Arwen the Wanderer"
        description= _ "Visit all five signposts in a single playthrough."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/scenery/signpost.png,0,7)"
        max_progress=5
    [/achievement]
    [achievement]
        id=gwt_mp
        name= _ "Twin Wolves"
        description= _ "Complete the campaign in multiplayer mode."
        icon="data/core/images/icons/crossed_sword_and_hammer.png"
    [/achievement]
    [achievement]
        id=gwt_s01
        name= _ "Scenario 1: The Powerful Buddy"
        description= _ "Advance Grunk into a Goblin Pillager in <i>A Maiden in Memories</i>."
        icon="data/core/images/attacks/torch.png"
    [/achievement]
    [achievement]
        id=gwt_s02
        name= _ "Scenario 2: Do Vampires Dream of Outlaws?"
        description= _ "Find and collect three bats in <i>High Pass</i>."
        icon="data/core/images/attacks/fangs-animal.png"
    [/achievement]
    [achievement]
        id=gwt_s03
        name= _ "Scenario 3: Forever and Ever, Amen"
        description= _ "Defeat Mal Keshar in <i>Clash with the Abysses</i>."
        icon="data/add-ons/Greenwoods_Tears/images/icons/malin.png"
    [/achievement]
    [achievement]
        id=gwt_s04
        name= _ "Scenario 4: Spoils at Least"
        description= _ "Seize the treasures your enemies hold in <i>Return to Greenwood</i>."
        icon="data/core/images/icons/coins_copper.png"
    [/achievement]
    [achievement]
        id=gwt_s04h
        name= _ "Scenario 4: Charge!"
        description= _ "Attack Simone in <i>Return to Greenwood</i>."
        icon="data/core/images/attacks/sword-holy.png"
        hidden=yes
    [/achievement]
    [achievement]
        id=gwt_s05
        name= _ "Scenario 5: The Legend of Wesmere"
        description= _ "Complete <i>Crelanu’s Legacy</i> by defeating the undead leader."
        icon="data/core/images/attacks/blank-attack.png~SCALE(72,72)~BLIT(data/core/images/units/elves-wood/high-lord-magic-1.png,2,0)"
    [/achievement]
    [achievement]
        id=gwt_s06
        name= _ "Scenario 6: Ascension..."
        description= _ "Defeat Simone the Death Knight in <i>Revelations</i>."
        icon="data/add-ons/Greenwoods_Tears/images/icons/simone.png"
    [/achievement]
    [achievement]
        id=gwt_s07
        name= _ "Scenario 7: Those Who Swim Alone"
        description= _ "Complete <i>Where the River Begins</i> with no recalling."
        icon="data/core/images/attacks/waterspray.png"
    [/achievement]
    [achievement]
        id=gwt_s07b
        name= _ "Scenario 7b: Jézabel"
        description= _ "Complete the secret <i>Jézabel the Beast</i> scenario."
        icon="data/core/images/attacks/dark-missile.png"
        hidden=yes
    [/achievement]
    [achievement]
        id=gwt_s08
        name= _ "Scenario 8: Greenwood’s Tears"
        description= _ "Defeat Mel Owain by Arwen’s own sword in <i>Parting Ways</i>."
        icon="data/core/images/attacks/sword-elven.png"
    [/achievement]
[/achievement_group]

# wmllint: markcheck on
