#textdomain wesnoth-Greenwoods_Tears

#define COMMON_AMLA_EFFECTS
    [effect]
        apply_to=max_experience
        increase=15%
    [/effect]
    [effect]
        apply_to=hitpoints
        heal_full=yes
    [/effect]
    [effect]
        apply_to=status
        remove=poisoned
    [/effect]
    [effect]
        apply_to=status
        remove=slowed
    [/effect]
#enddef

#define AMLA_STEALTH
    [advancement]
        id=amla_stealth
        description= _ "Gains the nightstalk ability"
        image=icons/cloak_leather_brown.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_NIGHTSTALK}
            [/abilities]
        [/effect]
    [/advancement]
#enddef

#define AMLA_HITPOINTS
    [advancement]
        id=amla_hitpoints
        max_times=100
        description= _ "+6 hitpoints"
        image=icons/potion_red_small.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=hitpoints
            increase=6
            increase_total=6
        [/effect]
    [/advancement]
#enddef

#define AMLA_MELEE
    [advancement]
        id=amla_melee
        description= _ "+3 melee damage"
        image=attacks/fangs-animal.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=attack
            range=melee
            increase_damage=3
        [/effect]
    [/advancement]
#enddef

#define AMLA_FANGS
    [advancement]
        id=amla_fangs
        require_amla=amla_melee
        description= _ "Gains the backstab special to fangs"
        image=attacks/fangs-animal.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=attack
            name=fangs
            [set_specials]
                mode=append
                {WEAPON_SPECIAL_BACKSTAB}
            [/set_specials]
        [/effect]
    [/advancement]
#enddef

#define AMLA_TORCH
    [advancement]
        id=amla_torch
        require_amla=amla_melee
        description= _ "+1 torch strikes"
        image=attacks/torch.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=attack
            name=torch
            increase_attacks=1
        [/effect]
    [/advancement]
#enddef

#define AMLA_RANGED
    [advancement]
        id=amla_ranged
        max_times=2
        description= _ "+1 ranged strikes"
        image=attacks/net.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=attack
            range=ranged
            increase_attacks=1
        [/effect]
    [/advancement]
#enddef

#define AMLA_SHIELD
    [advancement]
        id=amla_shield
        description= _ "Gains the steadfast ability"
        image=icons/orc_roundshield.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=resistance
            replace=no
            [resistance]
                blade=-20
                pierce=-20
                impact=-20
                fire=-10
                cold=-10
                arcane=-10
            [/resistance]
        [/effect]
        [effect]
            apply_to=new_ability
            [abilities]
                {ABILITY_STEADFAST}
            [/abilities]
        [/effect]
    [/advancement]
#enddef

#define AMLA_MOVEMENT
    [advancement]
        id=amla_movement
        max_times=2
        description= _ "+1 movement"
        image=attacks/claws-animal.png
        {COMMON_AMLA_EFFECTS}
        [effect]
            apply_to=movement
            increase=1
        [/effect]
    [/advancement]
#enddef

#define GRUNK_ADVANCEMENTS
    {AMLA_STEALTH}
    {AMLA_HITPOINTS}
    {AMLA_MELEE}
    {AMLA_FANGS}
    {AMLA_TORCH}
    {AMLA_RANGED}
    {AMLA_SHIELD}
    {AMLA_MOVEMENT}
#enddef
