# wmllint: no translatables

#define GWT_BIGMAP
    [background_layer]
        image=maps/background.webp
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
    [/background_layer]
    [background_layer]
        image=maps/gwt.webp
        scale_vertically=yes
        scale_horizontally=no
        keep_aspect_ratio=yes
        base_layer=yes
    [/background_layer]
#enddef

#define GWT_TRACK STAGE
    [story]
        [part]
            show_title=yes
            {GWT_BIGMAP}
            {STAGE}
        [/part]
    [/story]
#enddef

#define GWT_JOURNEY X Y
    [image]
        x,y={X},{Y}
        file=misc/new-journey.png
        delay=300
        centered=yes
    [/image]
#enddef

#define JOURNEY_01_NEW
    {NEW_BATTLE 415 721}
#enddef

#define JOURNEY_01_OLD
    {OLD_BATTLE 415 721}
#enddef

#define JOURNEY_02_NEW
    {JOURNEY_01_OLD}
    {GWT_JOURNEY 437 715}
    {GWT_JOURNEY 453 707}
    {GWT_JOURNEY 469 707}
    {GWT_JOURNEY 485 715}
    {NEW_BATTLE 503 721}
#enddef

#define JOURNEY_02_OLD
    {JOURNEY_01_OLD}
    {OLD_JOURNEY 437 715}
    {OLD_JOURNEY 453 707}
    {OLD_JOURNEY 469 707}
    {OLD_JOURNEY 485 715}
    {OLD_BATTLE 503 721}
#enddef

#define JOURNEY_03_NEW
    {JOURNEY_02_OLD}
    {GWT_JOURNEY 525 723}
    {GWT_JOURNEY 541 723}
    {GWT_JOURNEY 557 715}
    {GWT_JOURNEY 565 699}
    {GWT_JOURNEY 573 683}
    {GWT_JOURNEY 589 675}
    {GWT_JOURNEY 605 675}
    {GWT_JOURNEY 621 683}
    {NEW_BATTLE 639 689}
#enddef

#define JOURNEY_03_OLD
    {JOURNEY_02_OLD}
    {OLD_JOURNEY 525 723}
    {OLD_JOURNEY 541 723}
    {OLD_JOURNEY 557 715}
    {OLD_JOURNEY 565 699}
    {OLD_JOURNEY 573 683}
    {OLD_JOURNEY 589 675}
    {OLD_JOURNEY 605 675}
    {OLD_JOURNEY 621 683}
    {OLD_BATTLE 639 689}
#enddef

#define JOURNEY_04_NEW
    {JOURNEY_03_OLD}
    {GWT_JOURNEY 661 691}
    {GWT_JOURNEY 677 699}
    {GWT_JOURNEY 693 699}
    {GWT_JOURNEY 709 691}
    {GWT_JOURNEY 725 683}
    {GWT_JOURNEY 741 675}
    {GWT_JOURNEY 757 675}
    {GWT_JOURNEY 773 683}
    {GWT_JOURNEY 789 691}
    {GWT_JOURNEY 805 699}
    {GWT_JOURNEY 821 699}
    {GWT_JOURNEY 837 691}
    {NEW_BATTLE 855 673}
#enddef

#define JOURNEY_04_OLD
    {JOURNEY_03_OLD}
    {OLD_JOURNEY 661 691}
    {OLD_JOURNEY 677 699}
    {OLD_JOURNEY 693 699}
    {OLD_JOURNEY 709 691}
    {OLD_JOURNEY 725 683}
    {OLD_JOURNEY 741 675}
    {OLD_JOURNEY 757 675}
    {OLD_JOURNEY 773 683}
    {OLD_JOURNEY 789 691}
    {OLD_JOURNEY 805 699}
    {OLD_JOURNEY 821 699}
    {OLD_JOURNEY 837 691}
    {OLD_BATTLE 855 673}
#enddef

#define JOURNEY_04X_NEW
    {JOURNEY_04_OLD}
    {GWT_JOURNEY 877 675}
    {GWT_JOURNEY 893 667}
    {GWT_JOURNEY 901 651}
    {NEW_REST 911 625}
#enddef

#define JOURNEY_04X_OLD
    {JOURNEY_04_OLD}
    {OLD_JOURNEY 877 675}
    {OLD_JOURNEY 893 667}
    {OLD_JOURNEY 901 651}
    {OLD_REST 911 625}
#enddef

#define JOURNEY_05_NEW
    {JOURNEY_04X_OLD}
    {GWT_JOURNEY 909 603}
    {GWT_JOURNEY 901 587}
    {GWT_JOURNEY 885 579}
    {GWT_JOURNEY 869 579}
    {GWT_JOURNEY 853 579}
    {GWT_JOURNEY 837 571}
    {GWT_JOURNEY 829 555}
    {GWT_JOURNEY 821 539}
    {GWT_JOURNEY 805 531}
    {NEW_BATTLE 783 521}
#enddef

#define JOURNEY_05_OLD
    {JOURNEY_04X_OLD}
    {OLD_JOURNEY 909 603}
    {OLD_JOURNEY 901 587}
    {OLD_JOURNEY 885 579}
    {OLD_JOURNEY 869 579}
    {OLD_JOURNEY 853 579}
    {OLD_JOURNEY 837 571}
    {OLD_JOURNEY 829 555}
    {OLD_JOURNEY 821 539}
    {OLD_JOURNEY 805 531}
    {OLD_BATTLE 783 521}
#enddef

#define JOURNEY_06_NEW
    {JOURNEY_05_OLD}
    {GWT_JOURNEY 765 515}
    {GWT_JOURNEY 749 507}
    {GWT_JOURNEY 733 507}
    {GWT_JOURNEY 717 515}
    {GWT_JOURNEY 709 531}
    {GWT_JOURNEY 701 547}
    {NEW_BATTLE 695 569}
#enddef

#define JOURNEY_06_OLD
    {JOURNEY_05_OLD}
    {OLD_JOURNEY 765 515}
    {OLD_JOURNEY 749 507}
    {OLD_JOURNEY 733 507}
    {OLD_JOURNEY 717 515}
    {OLD_JOURNEY 709 531}
    {OLD_JOURNEY 701 547}
    {OLD_BATTLE 695 569}
#enddef

#define JOURNEY_07_NEW
    {JOURNEY_06_OLD}
    {GWT_JOURNEY 669 563}
    {GWT_JOURNEY 653 555}
    {GWT_JOURNEY 645 539}
    {GWT_JOURNEY 637 523}
    {GWT_JOURNEY 621 515}
    {NEW_BATTLE 599 513}
#enddef

#define JOURNEY_07_OLD
    {JOURNEY_06_OLD}
    {OLD_JOURNEY 669 563}
    {OLD_JOURNEY 653 555}
    {OLD_JOURNEY 645 539}
    {OLD_JOURNEY 637 523}
    {OLD_JOURNEY 621 515}
    {OLD_BATTLE 599 513}
#enddef

#define JOURNEY_08_NEW
    {JOURNEY_07_OLD}
    {GWT_JOURNEY 573 507}
    {GWT_JOURNEY 557 499}
    {NEW_BATTLE 535 489}
#enddef
