#textdomain wesnoth-Greenwoods_Tears

#define PLAYER_TEAM
    team_name=player
#ifdef MULTIPLAYER
    user_team_name= _ "team_name^Player"
#else
    user_team_name= _ "team_name^Arwen"
#endif
    {FLAG_VARIANT6 ragged}
#enddef

#define PLAYABLE
    controller=human
    {PLAYER_TEAM}
    persistent=yes
    allow_player=yes
#ifdef MULTIPLAYER
    team_lock=yes
    gold_lock=yes
    income_lock=yes
    faction=Custom
    disallow_shuffle=yes
    share_vision=all
#endif
#enddef

#define UNPLAYABLE
    controller=ai
    disallow_observers=yes
    allow_player=no
#enddef

#define CHARACTER_STATS_ARWEN
    type=Elvish Rogue
    id=Arwen
    name= _ "Arwen"
    profile=portraits/arwen.webp
    unrenamable=yes
    canrecruit=yes
    extra_recruit=Saurian Augur,Footpad,Poacher,Thief,Wolf Rider
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_STRONG}
        {TEAM_COLOR_OVERRIDE () brown}
    [/modifications]
#enddef

#define CHARACTER_STATS_GRUNK
    type=Wolf Rider
    id=Grunk
    name= _ "Grunk"
    profile=portraits/goblins/direwolver.webp
    unrenamable=yes
#ifdef MULTIPLAYER
    canrecruit=yes
    extra_recruit=Saurian Augur,Footpad,Poacher,Thief,Wolf Rider
#endif
    [modifications]
#ifndef MULTIPLAYER
        {TRAIT_LOYAL_HERO_NOSLOT}
#endif
        {TRAIT_FEARLESS}
        {TRAIT_INTELLIGENT}
        [object]
            [effect]
                [filter]
                    type=Wolf Rider
                [/filter]
                apply_to=remove_advancement
                types=Goblin Knight
            [/effect]
            [effect]
                [filter]
                    type=Goblin Pillager
                [/filter]
                apply_to=new_advancement
                replace=yes
                {GRUNK_ADVANCEMENTS}
            [/effect]
            [effect]
                [filter]
                    type=Goblin Pillager
                [/filter]
                apply_to=max_experience
                increase=-50
            [/effect]
        [/object]
    [/modifications]
#enddef

#define CHARACTER_STATS_ELLREA
    type=Elvish Maiden
    id=Ellrea
    name= _ "Ellrea"
    unrenamable=yes
    [modifications]
        {TRAIT_LOYAL_HERO_NOSLOT}
        {TRAIT_DEXTROUS}
        [trait]
            id=young
            male_name= _ "young"
            female_name= _ "female^young"
            [effect]
                apply_to=movement
                increase=1
            [/effect]
            [effect]
                apply_to=hitpoints
                increase_total=4
            [/effect]
            [effect]
                apply_to=hitpoints
                times=per level
                increase_total=1
            [/effect]
        [/trait]
    [/modifications]
#enddef

#define CHARACTER_STATS_KALENZ
    type=Elvish High Lord
    id=Kalenz
    name= _ "Kalenz"
    profile=portraits/kalenz.webp
    unrenamable=yes
    [modifications]
        {TRAIT_LOYAL_HERO_NOSLOT}
        {TRAIT_DEXTROUS}
        {TRAIT_RESILIENT}
    [/modifications]
#enddef

#define CHARACTER_STATS_HELENE
    type=Elvish Shyde
    id=Helenē
    name= _ "Helenē"
    unrenamable=yes
    [modifications]
        {TRAIT_LOYAL}
        [trait]
            id=silvan
            male_name= _ "silvan"
            female_name= _ "female^silvan"
            [effect]
                apply_to=healthy
                set=yes
            [/effect]
        [/trait]
    [/modifications]
#enddef

#
# Greenwood elves
#

#define CHARACTER_STATS_DOWEL
    type=Elvish Captain
    id=Dowel
    name= _ "Dowel"
    profile=portraits/dowel.webp
    canrecruit=yes
    [modifications]
        {TRAIT_AGED}
        {TEAM_COLOR_OVERRIDE () green}
    [/modifications]
#enddef

#define CHARACTER_STATS_ROLDUR
    type=Elvish High Lord
    id=Roldur
    name= _ "Lord Roldur"
    canrecruit=yes
    [modifications]
        {TRAIT_STRONG}
        {TRAIT_INTELLIGENT}
    [/modifications]
#enddef

#
# Mal Keshar
#

#define CHARACTER_STATS_MAL_KESHAR
    type=Ancient Lich
    id=Mal Keshar
    name= _ "Mal Keshar"
    profile=portraits/mal-keshar.webp
    canrecruit=yes
    [modifications]
        {TEAM_COLOR_OVERRIDE () darkblue} # Similar to DiD
    [/modifications]
#enddef

#
# Mel Owain and other enemies
#

#define CHARACTER_STATS_SIMONE
    type=Death Knight
    id=Simone
    name= _ "Simone"
    canrecruit=yes
    [modifications]
        {TRAIT_DEXTROUS}
    [/modifications]
#enddef

#define CHARACTER_STATS_JEZABEL
    type=Nightmare
    id=Jézabel
    name= _ "Jézabel"
    canrecruit=yes
    [modifications]
        {TEAM_COLOR_OVERRIDE () purple}
    [/modifications]
#enddef

#define CHARACTER_STATS_MEL_OWAIN
    type=Ancient Lich
    id=Mel Owain
    name= _ "Mel Owain"
    profile=portraits/undead/brown-lich.webp
    canrecruit=yes
    [modifications]
        {TRAIT_RESILIENT}
        {TRAIT_STRONG}
        {TEAM_COLOR_OVERRIDE () green}
    [/modifications]
#enddef

#define RECALL_CHARACTER STATS X Y FACING
    [unit]
        side=1
        {STATS}
        x,y={X},{Y}
        facing={FACING}
    [/unit]
#enddef

#define RECALL_GRUNK X Y FACING
    {RECALL_CHARACTER {CHARACTER_STATS_GRUNK} {X} {Y} {FACING}}
#enddef

#define RECALL_ELLREA X Y FACING
    {RECALL_CHARACTER {CHARACTER_STATS_ELLREA} {X} {Y} {FACING}}
#enddef

#define RECALL_KALENZ X Y FACING
    {RECALL_CHARACTER {CHARACTER_STATS_KALENZ} {X} {Y} {FACING}}
#enddef

#define RECALL_HELENE X Y FACING
    {RECALL_CHARACTER {CHARACTER_STATS_HELENE} {X} {Y} {FACING}}
#enddef
