#textdomain wesnoth-Greenwoods_Tears

#define GWT_DEATHS
    [event]
        name=last breath
        [filter]
            id=Arwen
        [/filter]
        [message]
            speaker=unit
            message= _ "Argh! No... I cannot die yet..."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Grunk
        [/filter]
        [message]
            speaker=unit
            message= _ "It seems I cannot go with you any further. Forgive me, Arwen..."
        [/message]
        [message]
            speaker=Arwen
            message= _ "Grunk, wait! Don’t die!"
            scroll=no
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Ellrea
        [/filter]
        [message]
            speaker=unit
            message= _ "Am I going to die? NO! I don’t want to..."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Helenē
        [/filter]

        {INCIDENTAL_MUSIC sad.ogg}

        [message]
            speaker=Ellrea
            message= _ "Helenē! Don’t die!"
            scroll=no
        [/message]
        [message]
            speaker=unit
            message= _ "Go with your lord! May fortune be with you, even in my absence."
        [/message]
    [/event]
    [event]
        name=last breath
        [filter]
            id=Kalenz
        [/filter]
        [message]
            speaker=unit
            message= _ "Those who have gone before are calling me... Farewell."
        [/message]

        [endlevel]
            result=defeat
        [/endlevel]
    [/event]
#enddef
