#textdomain wesnoth-Greenwoods_Tears

#define OBJ_WRAITHBLADE X Y
    # Special bonus for defeating Mal Keshar in S3
    # The image is triggered by a scenario event, so the [item] tag is not required here
    [event]
        name=moveto
        first_time_only=no

        [filter]
            side=1,2
            x,y={X},{Y}
        [/filter]
        [filter_condition]
            [variable]
                name=wraithblade_picked_up
                boolean_not_equals=yes
            [/variable]
        [/filter_condition]

        [fire_event]
            name=wraithblade found dialogue
            [primary_unit]
                x,y={X},{Y}
            [/primary_unit]
        [/fire_event]

        [message]
            speaker=narrator
            message= _ "Equipping this magical blade grants them a new melee attack with the drains special. Should $unit.name use it?"
            image=wesnoth-icon.png
            [option]
                label= _ "wraithblade^Take it"
                [command]
                    [object]
                        id=wraithblade{X}{Y}
                        name= _ "Wraithblade"
                        image=items/sword-wraith.png
                        duration=forever
                        description= _ "This blade’s attack is coupled with sorcery that allows the wielder to steal vitality from an enemy."
                        cannot_use_message= _ "$unit.name cannot use this blade! Let one of the fighters who can wield it take it."
                        [filter]
                            type_adv_tree=Elvish Rogue,Footpad,Poacher,Thief,Wolf Rider
                            x,y={X},{Y}
                        [/filter]
                        [then]
                            {REMOVE_IMAGE {X} {Y}}
                            {VARIABLE wraithblade_picked_up yes}

                            [message]
                                speaker=Ellrea
                                message= _ "Oh my..."
                                scroll=no
                            [/message]
                            [message]
                                x,y={X},{Y}
                                message= _ "I can sense a great power in this blade! It will certainly be useful in our fight."
                            [/message]
                        [/then]

                        [effect]
                            apply_to=new_attack
                            name=wraithblade
                            description= _ "wraithblade" # wmllint: no spellcheck
                            icon=attacks/baneblade.png
                            type=arcane
                            range=melee
                            [specials]
                                {WEAPON_SPECIAL_DRAIN}
                            [/specials]
                            damage=9
                            number=4
                        [/effect]
                        [effect]
                            apply_to=new_animation
                            [attack_anim]
                                [filter_attack]
                                    name=wraithblade
                                [/filter_attack]

                                start_time=-200
                                [frame]
                                    duration=300
                                [/frame]

                                {SOUND:HIT_AND_MISS magic-dark.ogg magic-dark-miss.ogg -100}
                            [/attack_anim]
                        [/effect]
                    [/object]
                [/command]
            [/option]
            [option]
                label= _ "wraithblade^Leave it"
                [command]
                    [allow_undo][/allow_undo]
                [/command]
            [/option]
        [/message]
    [/event]
    [event]
        name=wraithblade found dialogue
        [message]
            speaker=unit
            message= _ "A blade forged by magic! I think that necromancer forgot it here."
        [/message]
        [message]
            speaker=Ellrea
            message= _ "It must be a trap he set! Don’t approach it!"
        [/message]
        [message]
            speaker=Arwen
            message= _ "I think not. He has no reason to resort to such a roundabout tactic against us."
        [/message]
        [message]
            speaker=Ellrea
            message= _ "However, this remains an evil creation!"
        [/message]

        [scroll_to_unit]
            x,y={X},{Y}
        [/scroll_to_unit]
    [/event]
    [event]
        name=victory
        {CLEAR_VARIABLE wraithblade_picked_up}
    [/event]
#enddef
