# wmllint: no translatables

#define ACHIEVE ID
    [set_achievement]
        content_for=greenwoods_tears
        id=gwt_{ID}
    [/set_achievement]
#enddef

#define ACHIEVE_PROGRESS ID AMOUNT LIMIT
    [progress_achievement]
        content_for=greenwoods_tears
        id=gwt_{ID}
        amount={AMOUNT}
        limit={LIMIT}
    [/progress_achievement]
#enddef

#define DELAY TIMEOUT
    [delay]
        time={TIMEOUT}
    [/delay]
#enddef

#define CONTINUOUS_SCENARIO_MUSIC INTRO_MUSIC SCENARIO_MUSIC
    # Since {LET_INTRO_MUSIC_FINISH} is not working in my environment somehow
    [music]
        name={INTRO_MUSIC}
        immediate=yes
        ms_after=2000
    [/music]
    [event]
        name=prestart
        [music]
            name={SCENARIO_MUSIC}
            append=yes
            immediate=no
        [/music]
    [/event]
#enddef

#define AMBIENT_CAMPFIRE X Y
    [sound_source]
        id=campfire{X}{Y}
        x,y={X},{Y}
        sounds=ambient/campfire.ogg
        delay=0
        chance=100
        full_range=1
        fade_range=6
    [/sound_source]
#enddef

#ifdef MULTIPLAYER
#define MP_SIDE NUM WML
    [side]
        side={NUM}
        {WML}
    [/side]
#enddef
#else
#define MP_SIDE NUM WML
    [side]
        side={NUM}
        hidden=yes
        controller=null
        allow_player=no
        no_leader=yes
    [/side]
#enddef
#endif
