# wmllint: no translatables

#define NORTHERN_DAWN
    {DAWN} {TOD_COLOR_SHIFT -20 -15 10}
#enddef

#define NORTHERN_MORNING
    {MORNING} {TOD_COLOR_SHIFT -5 -5 15}
#enddef

#define NORTHERN_AFTERNOON
    {AFTERNOON} {TOD_COLOR_SHIFT -5 -5 15}
#enddef

#define NORTHERN_DUSK
    {DUSK} {TOD_COLOR_SHIFT 0 -25 -30}
#enddef

#define NORTHERN_SCHEDULE
    {NORTHERN_DAWN}
    {NORTHERN_MORNING}
    {NORTHERN_AFTERNOON}
    {NORTHERN_DUSK}
    {FIRST_WATCH}
    {SECOND_WATCH}
#enddef

#define NORTHERN_SCHEDULE_DAWN
    {NORTHERN_SCHEDULE}
#enddef

#define NORTHERN_SCHEDULE_MORNING
    {NORTHERN_SCHEDULE}
    current_time=1
#enddef

#define NORTHERN_SCHEDULE_AFTERNOON
    {NORTHERN_SCHEDULE}
    current_time=2
#enddef

#define NORTHERN_SCHEDULE_DUSK
    {NORTHERN_SCHEDULE}
    current_time=3
#enddef

#define NORTHERN_SCHEDULE_FIRST_WATCH
    {NORTHERN_SCHEDULE}
    current_time=4
#enddef

#define NORTHERN_SCHEDULE_SECOND_WATCH
    {NORTHERN_SCHEDULE}
    current_time=5
#enddef
