#textdomain wesnoth-Greenwoods_Tears

[unit_type]
    id=Caravan
    name= _ "Caravan"
    race=mechanical
    image="units/caravan.png"
    hitpoints=48
    movement_type=smallfoot
    [movement_costs]
        mountains={UNREACHABLE}
    [/movement_costs]
    movement=3
    experience=25
    level=0
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=10
    usage=fighter
    #textdomain wesnoth-sof
    description= _ "Caravans are used to carry gold or supplies long distances. Because of the immense weight of the cargo this caravan carries, it is not nimble, but the driver can still try to drive off attackers with his whip."
    #textdomain wesnoth-Greenwoods_Tears
    die_sound={SOUND_LIST:HORSE_HIT}
    {DEFENSE_ANIM "units/caravan.png" "units/caravan.png" {SOUND_LIST:HORSE_HIT} }
    [attack]
        name=whip
        description= _ "whip"
        type=impact
        range=melee
        damage=4
        number=2
        attack_weight=0
    [/attack]
    [attack_anim]
        [filter_attack]
            name=whip
        [/filter_attack]

        start_time=-200
        [frame]
            image="units/caravan.png:300"
        [/frame]

        attack_sound_start_time=-100
        [attack_sound_frame]
            sound=tail.ogg
        [/attack_sound_frame]
    [/attack_anim]
[/unit_type]
