#textdomain wesnoth-Greenwoods_Tears

[unit_type]
    id=Elvish Rogue
    name= _ "Elvish Rogue"
    race=elf
    image="units/elvish-rogue.png"
    hitpoints=42
    movement_type=woodland
    [movement_costs]
        cave=2
        shallow_water=2
        mountains=2
    [/movement_costs]
    [defense]
        swamp_water=60
        shallow_water=70
        flat=50
        cave=50
        sand=60
        mountains=30
        hills=40
    [/defense]
    movement=6
    {QUANTITY experience 70 80 90}
    level=2
    alignment=chaotic
    advances_to=Elvish Wanderer
    cost=31
    usage=mixed fighter
    die_sound={SOUND_LIST:ELF_HIT}
    {DEFENSE_ANIM "units/elvish-rogue.png" "units/elvish-rogue.png" {SOUND_LIST:ELF_HIT} }
    [abilities]
        {ABILITY_CONCEALMENT}
    [/abilities]
    [attack]
        name=sword
        #textdomain wesnoth-units
        description= _ "sword"
        icon=attacks/sword-elven.png
        type=blade
        range=melee
        damage=8
        number=3
    [/attack]
    [attack]
        name=bow
        description= _ "bow"
        icon=attacks/bow-elven.png
        type=pierce
        range=ranged
        damage=7
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=bolas
        description= _ "bolas"
        #textdomain wesnoth-Greenwoods_Tears
        type=impact
        range=ranged
        damage=9
        number=2
        [specials]
            {WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            name=bolas
        [/filter_attack]

        missile_start_time=-150
        [missile_frame]
            duration=150
            image=projectiles/bolas-n.png
            image_diagonal=projectiles/bolas-ne.png
        [/missile_frame]

        start_time=-300
        [frame]
            image="units/elvish-rogue.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -300}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=bow
        [/filter_attack]

        missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]

        start_time=-445
        [frame]
            image="units/elvish-rogue.png:510"
        [/frame]

        {SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -380}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=sword
        [/filter_attack]

        start_time=-200
        [frame]
            image="units/elvish-rogue.png:300"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
    [/attack_anim]
[/unit_type]
