#textdomain wesnoth-Greenwoods_Tears

[unit_type]
    id=Nightmare
    name= _ "Nightmare"
    race=undead
    gender=female
    image="units/nightmare.png"
    hitpoints=108 # The number of afflictions
    movement_type=undeadspirit
    movement=6
    experience=250
    level=5
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=280
    usage=mixed fighter
    die_sound=lich-die.ogg
    {DEFENSE_ANIM "units/nightmare.png" "units/nightmare.png" wail-long.wav }
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
    [attack]
        name=gehenna
        description= _ "gehenna"
        icon=attacks/dark-missile.png
        type=arcane
        range=melee
        damage=13
        number=5
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [attack]
        name=gehenna
        description= _ "gehenna"
        icon=attacks/dark-missile.png
        type=arcane
        range=ranged
        damage=19
        number=3
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
    [attack_anim]
        [filter_attack]
            range=ranged
        [/filter_attack]

        {MISSILE_FRAME_SHADOW_WAVE}

        start_time=-675
        [frame]
            image="units/nightmare.png:600"
        [/frame]

        halo_start_time=-525
        [halo_frame]
            halo=halo/undead/black-magic-[1~5].png:[75*4,50]
        [/halo_frame]

        {SOUND:HIT_AND_MISS magic-dark-big.ogg magic-dark-big-miss.ogg -50}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            range=melee
        [/filter_attack]

        missile_start_time=-400
        [missile_frame]
            halo="halo/holy/light-beam-[1~7,6~1].png~NEG():[30*6,130,70*6]"
            offset=1.0
            auto_vflip=no
        [/missile_frame]

        start_time=-400
        [frame]
            image="units/nightmare.png:500"
        [/frame]

        {SOUND:HIT_AND_MISS {SOUND_LIST:HOLY} {SOUND_LIST:HOLY_MISS} -75}
    [/attack_anim]
[/unit_type]
